.header-color{
  background: #3494E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .landing-grid{
    background: #3494E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EC6EAD, #3494E6); 
  }

  .avatar-img{
   height:250px;
   padding-top: 5em;
   display: block;
   margin-left: auto;
   margin-right: auto;
    
  }
  .banner-text{
    background-color: black;
    opacity: .8;
    width: 75%;
    margin: auto;
    border-radius: 10px;

    }
    .banner-text h1{
      font-size: 66px;
      font-weight: 100;
      font-family: cursive;
      font-stretch: expanded;
      color: burlywood;
      text-align:center ;

    }